/**
* The main sass
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/**
  * The main aplication style here  
 */

body {
  padding: 5px 0;
  text-align: center;
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  color: #6b6b6b;
  .application-wrap {
    transition: background 0.2s ease-in-out;
    &.auth {
      color: #3daa18;
      h1 {
        color: #3daa18;
      }
    }
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 30px;
  }
  button {
    background: #fff;
    border: 2px solid #d5d5d5;
    padding: 10px 20px;
    border-radius: 6px;
    color: #d31e1e;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 auto;
    margin-right: 15px;
  }
}


/**
* SASS dependencies
*/

@import "app.client";
@import "app.server";
