<!DOCTYPE html>
<html ng-app="MyGeneratorApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>QR Generator</title>

    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">

    <link rel="shortcut icon" href="assets/images/logo.png" />

    <link href="assets/css/app.min.css" rel="stylesheet" />

  </head>

  <body id="server-app" ng-controller="generator.controller">

    <div class="application-wrap" ng-class="{'auth':isAuth}" ngsf-fullscreen ng-cloak>

      <h1 class="title">QR Generation Demo</h1>

      <div ng-if="!isAuth" class="qr-holder">

        <qrcode data="/{{ token }}/" version="{{ generator.version }}" error-correction-level="{{ generator.correction }}" size="{{ generator.size }}"
          color="{{ generator.color }}" background="{{ generator.background }}"></qrcode>

        <button class="qr-button" ng-click="refreshCode()">Refresh Code</button>
        <button class="qr-button" ngsf-toggle-fullscreen>Fullscreen</button>

      </div>

      <div ng-if="isAuth" class="congrats">
        <img src="assets/images/ok.png">
        <div class="congrats">Congrats, your secret key is {{ secret }}</div>
        <button class="qr-button" ng-click="restart()">Restart</button>
      </div>

    </div>

    <!--  One page app so we can just have them as files.
            Also angular-route or any other routing mecahism is not needed
    -->

    <script src="lib/angular-loader/angular-loader.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>

    <script src="lib/angular-qrcode/angular-qrcode.js"></script>
    <script src="lib/qrcode-generator/js/qrcode.js"></script>

    <script src="lib/screenfull/dist/screenfull.min.js"></script>
    <script src="lib/angular-screenfull/dist/angular-screenfull.min.js"></script>

    <!-- the angular application base -->

    <script src="config.js"></script>
    <script src="src/app.js"></script>

    <!-- the angular application's services & controllers  -->

    <script src="services/auth.service.js"></script>
    <script src="src/controllers/generator.controller.js"></script>

  </body>

</html>
